*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.b2{
  padding: 0;
  margin:0;
}
#id_container2{
  border:none;
  margin: 2rem auto;
  /*margin-left:2rem;*/
  padding:1rem;
  width: 100%;
  background-color: #ffffffeb;
  box-shadow: 0px 8px 16px 0px grey;
  z-index: 1;
}
.dropdown2 {
  float: left;
  margin-left: 390px;
  margin-top: 20px;
  background-color: #595959;
  overflow: hidden;
  text-align: center;
  width:160px;
}
#id_categories2{
  background-color: #595959;

}
select2{
  cursor: pointer;
  /*float: left;*/
  /*margin-left: 390px;*/
  background-color: black;
  overflow: hidden;
  color: white;
  font-family: sans-serif;
  text-align: center;
  width:160px;
  height: 34px;
  border:2px solid #efefef;
  border-radius: 3px;
}

.dropdown2 .dropbtn2 {
  cursor: pointer;
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  padding: 12px 16px;
  background-color: inherit;
  font-family: sans-serif;
}

.dropdown2:hover .dropbtn2, .dropbtn2:focus {
  background-color: #262626;
  transform: scale(1.1);
  width:160px;
}
.dropdown2-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px grey;
  z-index: 1;
}


select2:hover , select2:focus
,option{
   background-color:#595959;
  transform: scale(1.06);
  width:160px;
}
.dropdown2-content{
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  overflow: hidden;
  text-align: left;
}
.dropdown2-content a:hover {
  background-color: #ddd;
  transform: scale(1.1);
}

.show2 {
  display: block;
}
.text2,.offer2{
  font-family:monospace;
  box-sizing:border-box;
  font-size: 1.3rem;
  /*font-weight: bold;*/
  color:black;
}
/*.fileselect{*/
/*  margin-left: 30px;*/
/*}*/
.message2{
  width:90%;
  height: 70px;
  display: block;

  padding: 20px 40px;
  border-radius: 5px;
  background-color:#8080801c;
}
.upload2{
  color: white;
  background-color: #595959;
  height: 30px;
  /*border-radius: 9px;*/

}
.upload2:hover{
  background-color:  #262626;
  font-weight: bolder;
  cursor: pointer;
  transform: scale(1.2);
}
/*input{*/
/*    width:70%;*/
/*}*/


@media only screen and (max-width: 450px){

#id_container2{
  border:none;
  box-sizing:border-box;
  margin: 2rem auto;
  width: 95%;
 }
input{
    width:90%;
}
 /*.type2{*/
 /* margin-left: 4.5rem;*/
 /*}*/


 select2{
  float: left;
  margin-left: 92px;
  margin-top: 15px;
  background-color: #0f18cb;
  overflow: hidden;
  text-align: center;
  width:160px;
}

}